<section id="section-app-feature" class="w-full px-4 py-6">
  <div class="container mx-auto">

    <!-- Header Row -->
    <div class="flex items-center justify-between mb-1">
      <h2 class="text-xl md:text-2xl font-semibold line-clamp-1">
        <span class="text-primary-green font-bold">Featured</span>
        Brands
      </h2>

      <!-- Custom Nav Buttons -->
      <div class="gap-3 flex">
        <button class="btn-control sm-control" (click)="onPreviousBtn()">
          <i class="bi bi-chevron-left text-[10px]"></i>
        </button>
        <button class="btn-control sm-control" (click)="onNextBtn()">
          <i class="bi bi-chevron-right text-[10px]"></i>
        </button>
      </div>
    </div>

    <!-- Carousel -->
    <div class="px-2">
      <owl-carousel-o #owlCar [options]="owlOptions">
        @for (brand of brands(); track brand.imgPath) {
          <ng-template carouselSlide>
            <div
              class="h-32 w-48 cursor-pointer lg:opacity-50 lg:grayscale-50 lg:hover:opacity-100 lg:hover:grayscale-0 duration-500 transition-all">
              <img [src]="brand.imgPath" [alt]="brand.brandName" class="w-full h-full object-contain" />
            </div>
          </ng-template>
        }
      </owl-carousel-o>
    </div>
  </div>
</section>
