<section id="section-app-feature" class="w-full px-4 py-6">
  <div class="container mx-auto">

    <!-- Header Row -->
    <div class="flex items-center justify-between mb-6">
      <h2 class="text-xl md:text-2xl font-semibold">
        <span class="text-primary-green font-bold">Popular</span>
        Categories
      </h2>

      <!-- Custom Nav Buttons -->
      <div class="gap-3 hidden lg:flex">
        <button class="btn-control sm-control" (click)="onPreviousBtn()">
          <i class="bi bi-chevron-left text-[10px]"></i>
        </button>
        <button class="btn-control sm-control" (click)="onNextBtn()">
          <i class="bi bi-chevron-right text-[10px]"></i>
        </button>
      </div>
    </div>

    <!-- Carousel -->
    <div class="relative px-2">
      <owl-carousel-o #owlCar [options]="owlOptions">
        @for (category of categories(); track category.title) {
          <ng-template carouselSlide>
            <div class="pb-1">
              <app-section-popular-categories-card [category]="category"/>
            </div>
          </ng-template>
        }
      </owl-carousel-o>
    </div>
  </div>
</section>
