<section id="auth">

    <div class="flex items-center justify-center min-h-screen bg-gray-50">

        <div
            class="w-full max-w-lg space-y-3 md:space-y-8 p-4 md:p-8 border border-gray-300 rounded-xl bg-white shadow-md">

            <h2 class="text-2xl font-semibold">Create an Account</h2>

            <p class="text-sm text-black opacity-75 font-extralight leading-6 text-justify">Your personal data will be
                used to support your experience throughout this website, to manage access to
                your account, and for other purposes described in our privacy policy</p>


            <form class="space-y-3" [formGroup]="form" (ngSubmit)="onSubmit()">

                <div class="space-y-3 md:space-y-0 md:space-x-2 md:flex md:items-center" formGroupName="name">
                    <input type="text" id="firstName" required formControlName="firstName" class="form-control md:w-1/2 px-5 py-4"
                        placeholder="First Name" />

                    <input type="text" id="lastName" required formControlName="lastName" class="form-control md:w-1/2 px-5 py-4"
                        placeholder="Last Name" />
                </div>
                @if(isNamesInvalid){
                <p class="text-xs text-red-600 font-light mt-3">Please Enter a Valid Name - each must be at least 2
                    characters long</p>
                }
                <div>
                    <input type="email" id="email" required formControlName="email" class="form-control px-5 py-4"
                        placeholder="Email" />

                    @if(isEmailInvalid){
                    <p class="text-xs text-red-600 font-light mt-3">Please enter a valid email address.</p>
                    }
                </div>
                <div>
                    <input type="text" id="phone" required formControlName="mobile" class="form-control px-5 py-4"
                        placeholder="Phone Number" />
                    @if(isMobileInvalid){
                    <p class="text-xs text-red-600 font-light mt-3">Please Enter a Valid Sri Lankan Mobile</p>
                    }
                </div>
                <div>
                    <div class="relative">
                        <input [type]="showPassword() ? 'text' : 'password'" id="password" required
                            formControlName="password" placeholder="Password" class="form-control pr-12 px-5 py-4" />

                        <!-- Eye Icon -->
                        <button type="button" (click)="onTogglePasswordVisibility()"
                            class="absolute inset-y-0 right-0 flex items-center pr-4 text-gray-500 hover:text-gray-700 focus:outline-none cursor-pointer">
                            @if (showPassword()) {
                            <i class="fa-regular fa-eye text-lg transition-colors duration-200"></i>
                            } @else {
                            <i class="fa-regular fa-eye-slash text-lg transition-colors duration-200"></i>
                            }
                        </button>
                    </div>


                    @if(isPasswordInvalid){
                    <p class="text-xs text-red-600 font-light mt-3">Please enter a valid password - must be at least 6
                        characters long</p>
                    }
                </div>

                <div class="flex items-center justify-between">
                    <div class="flex items-center space-x-2 cursor-pointer">
                        <input type="checkbox" id="checkbox" formControlName="agreement"
                            class=" cursor-pointer w-4 h-4 accent-button-green transition-all duration-1000" />
                        <label for="checkbox"
                            class="cursor-pointer text-sm text-black opacity-75 font-extralight selection:bg-button-green selection:text-white selection:opacity-100">I
                            agree to terms & Policy.</label>
                    </div>

                </div>

                <button type="submit" [disabled]="(!form.valid || isLoading())" [class]="form.valid
    ? 'btn-primary flex items-center'
    : 'btn-disabled flex items-center'">
                    @if(isLoading()){
                    <svg class="mr-3 h-5 w-5 animate-spin text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24">
                        <circle class="opacity-50" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4">
                        </circle>
                        <path fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"></path>
                    </svg>
                    }
                    {{ isLoading() ? 'Loading...':'Submit & Register' }}
                </button>

                <p class="text-xs text-black opacity-75 font-light text-center mt-3">Don't Have an Account?
                    <a [routerLink]="['../login']" class="text-buttonHover-green cursor-pointer">Sign in </a>now
                </p>

            </form>

        </div>

    </div>

</section>

@if (errorMsg()) {
<app-alert [errorMessage]="errorMsg()!" type="error" (closed)="errorMsg.set(undefined)" />
}

@if (successMsg()) {
<app-alert [errorMessage]="successMsg()!" type="success" (closed)="onSuccessDialogClose()" />
}