<div class="py-4">

    <div class="border-b border-b-slate-300 pb-7">
        <div class="max-h-44 overflow-y-auto overflow-x-none text-sm custom-scrollbar">
            <ul class="flex flex-col space-y-7 mr-3">
                @for (item of cartItems(); track item.id) {
                @if (isDropdownOpen()) {
                <li class="cursor-pointer" [@itemAnimation]>
                    <app-cart-preview-item [cartItem]="item" (cartRemove)="onCartItemClose($event)" />
                </li>
                }
                } @empty {
                <li class="px-4 py-2 text-gray-500 text-center">No Cart Items</li>
                }
            </ul>
        </div>
    </div>

    <div class="mt-5 flex items-center justify-between">
        <p class="text-black opacity-50 text-lg font-semibold">Total</p>
        <p class="text-primary-green text-2xl font-bold">${{ total() }}.00</p>
    </div>

    <div class="mt-5 flex items-center justify-between">
        <a routerLink="/cart" class="btn-hover px-6 py-2" title="View Cart" (click)="onBtnClick()">View Cart</a>
        <button class="btn-primary px-6 py-2" title="Checkout" (click)="onBtnClick()">Checkout</button>
    </div>
</div>
