<section id="section-corporation" class="w-full px-4 py-6">
  <article class="container mx-auto">

    <div class="w-full flex flex-col items-center text-center space-y-5">

      <div class="flex flex-col space-y-2">
        <h5 class="text-base font-bold uppercase text-primary-green">Evara Coporation</h5>
        <h1 class="text-3xl font-bold tracking-wider max-w-sm">Our main branches
          around the world</h1>
      </div>

      <p class="text-sm text-[#465B52] leading-6 sm:max-w-xl">
        At vero eos et accusamus et iusto odio dignissimos ducimus quiblanditiis praesentium. ebitis nesciunt voluptatum dicta reprehenderit accusamus
      </p>

    </div>

    <div class="grid lg:grid-rows-1 lg:grid-cols-3 mt-10 gap-7">

            @for (branch of branches(); track branch.id) {
              <div class="h-96">
                <div
                  class="h-[62.5%] overflow-hidden rounded-xl shadow-sm border border-white hover:border-primary-green hover:-translate-y-1 duration-300 transition-all">
                  <img [src]="branch.imgPath" [alt]="branch.location"
                       class="object-cover object-top h-full w-full">
                </div>

                <div class="h-[37.5%] flex flex-col items-center justify-center space-y-4">
                  <h3 class="text-lg font-semibold">{{ branch.location }}</h3>
                  <p class="text-sm text-gray-700 max-w-44 text-center">{{ branch.address }}</p>
                </div>
              </div>
            }

    </div>

  </article>
</section>
