<section id="section-carousel" class="w-full px-4 p-1 pb-6">
  <div class="container mx-auto flex items-center h-[85vh] md:h-[40vh] lg:h-[57vh] xl:h-[75vh] xxl:h-[60vh]">
    <div class="h-full w-full flex flex-col md:flex-row items-center gap-4 md:gap-6">

      <div class="rounded-lg h-1/3 md:h-full w-full overflow-hidden md:flex-3 ">

        <ejs-carousel
          [dataSource]="carouselCards()"
          [interval]="+5000"
          [pauseOnHover]="true"
          animationEffect="Fade"
          class="relative h-full w-full"
          indicatorsType="Default"
          buttonsVisibility="VisibleOnHover">

          <ng-template #previousButtonTemplate>
            <button
              class="absolute left-5 top-1/2 -translate-y-1/2 btn-control md-control">
              <i class="bi bi-chevron-left text-sm"></i>
            </button>
          </ng-template>

          <ng-template #indicatorsTemplate>
            <div class="indicator"></div>
          </ng-template>

          <ng-template #itemTemplate let-data>
            <app-section-carousel-card [carouselCard]="data" class="relative"/>
          </ng-template>

          <ng-template #nextButtonTemplate>
            <button
              class="absolute right-5 top-1/2 -translate-y-1/2 btn-control md-control">
              <i class="bi bi-chevron-right text-sm"></i>
            </button>
          </ng-template>

        </ejs-carousel>

      </div>

      <div class="md:flex-1 w-full h-2/3 md:h-full flex space-y-4 flex-col">
        <app-banner-card class="md:flex-2 h-1/2 md:h-auto w-full" [bannerCredentials]="bannerCards()[0]"/>

        <app-banner-card class="md:flex-1 h-1/2 md:h-auto w-full" position="right"
                         [bannerCredentials]="bannerCards()[1]"/>
      </div>

    </div>
  </div>
</section>
