<article class="w-full px-4 bg-[#aeccc5] py-7 text-primary-gray">
    <div class="container mx-auto grid gap-4 grid-rows-2 sm:grid-cols-2 lg:grid-cols-3 lg:grid-rows-1">

        <div class="w-full px-6 sm:px-0 sm:w-auto flex items-center lg:col-span-1">
            <h3 class="text-xl font-semibold">
                <i class="bi bi-envelope-at mr-4 text-3xl"></i>
                <span class="align-top">Sign up to Newsletter</span>
            </h3>
        </div>

        <div class="items-center hidden sm:flex lg:col-span-1">
            <h3 class="text-sm font-semibold">
                <span class="align-top">...and receive $25 coupon for first shopping.</span>
            </h3>
        </div>

        <div class="w-full px-6 sm:px-0 lg:w-auto flex items-center col-span-2 lg:col-span-1">

            <input type="text" id="search" required placeholder="Enter your email"
                class="form-control pl-9 pr-5 py-4 bg-white text-xs h-full w-1/2" />

            <button type="button" title="Subscribe" id="subscribe-btn"
                class="btn text-white bg-primary-gray hover:bg-primary-green py-4 w-1/2">
                Subscribe
            </button>
        </div>

    </div>
</article>

<footer class="w-full px-4 bg-[#FFF8F7] pt-8 text-primary-gray">
    <div class="container mx-auto">

        <div class="flex flex-col lg:flex-row gap-9 lg:gap-0 items-start justify-between">

            <div
                class="flex flex-2 w-full lg:w-auto items-start justify-around lg:justify-between flex-col md:flex-row gap-9 border border-red-900">
                <div class="flex-2 flex flex-col items-start border text-justify">
                    <p>address settings</p>
                    <br>
                    <p>Contact</p>
                    <p>Address: 562 Wellington Road, Street 32, San Francisco</p>
                    <p>Phone: +01 2222 365 /(+91) 01 2345 6789</p>
                    <p>Hours: 10:00 - 18:00, Mon - Sat</p>
                    <br>
                    <p>Follow Us</p>
                </div>

                <div class="flex-1 flex flex-col items-start border text-justify">
                    <p>about us</p>
                    <br>
                    <p>About Us</p>
                    <p>Delivery Information</p>
                    <p>Privacy Policy</p>
                    <p>Terms & Conditions</p>
                    <p>Contact Us</p>
                    <p>Support Center</p>
                </div>

                <div class="flex-1 flex flex-col items-start border text-justify">
                    <p>my account</p>
                    <br>
                    <p>Sign In</p>
                    <p>View Cart</p>
                    <p>My Wishlist</p>
                    <p>Track My Order</p>
                    <p>Help</p>
                    <p>Order</p>
                </div>
            </div>

            <div class="flex flex-1 w-full lg:w-auto lg:flex-col items-start space-y-5 border border-red-900">

                <div class="flex-2 lg:flex-1 flex flex-col items-start text-justify">
                    install app
                    <br>
                    <br>
                    From App Store or Google Play
                </div>

                <div class="flex-1 flex flex-col items-start text-justify">
                    payment gateways
                    <br>
                    images
                </div>
            </div>

        </div>

        <br><br>

        <div class="flex items-center justify-between border-t border-t-slate-300 py-4">
            <p>© 2022, Evara - HTML Ecommerce Template</p>
            <p>Designed by Alithemes.com. All rights reserved</p>
        </div>

    </div>
</footer>