<div class="py-4">

    <div class="max-h-52">
        <div class="overflow-y-auto text-sm pb-7 custom-scrollbar border-b border-b-gray-400">
            <ul class="flex flex-col space-y-7 mr-3">
                @for (item of cartItems(); track item.id) {
                <li class="cursor-pointer">
                    <app-preview-item [cartItem]="item" (cartRemove)="onClose($event)" />
                </li>
                } @empty {
                <li class="px-4 py-2 text-gray-500 text-center">No Cart Items</li>
                }
            </ul>
        </div>
    </div>

    <div class="mt-5 flex items-center justify-between">
        <p class="text-black opacity-50 text-lg font-semibold">Total</p>
        <p class="text-button-green text-2xl font-bold">${{ total() }}.00</p>
    </div>

    <div class="mt-5 flex items-center justify-between">
        <a href="#" class="btn-hover px-6 py-2" title="View Cart">View Cart</a>
        <button class="btn-primary px-6 py-2" title="Checkout">Checkout</button>
    </div>
</div>