<header class="px-8 py-5">
  <div class="flex items-center justify-between">
    <div class="flex items-center">
      <img src="logo.png" alt="logo" class="h-10"/>
    </div>

    <button type="button" title="Close" (click)="onHamburgerClose()"
            class="flex items-center text-primary-gray hover:text-black text-2xl focus:outline-none cursor-pointer">
      <i class="bi bi-x-lg fa-sm mt-2 font-bold transition-colors duration-200"></i>
    </button>
  </div>
</header>

<main class="p-8 max-h-full overflow-y-auto">

  <div class="relative">
    <button type="button" title="search"
            class="absolute inset-y-0 right-0 flex items-center pr-4 text-gray-500 hover:text-gray-700 focus:outline-none cursor-pointer">
      <i class="bi bi-search text-lg transition-colors duration-200"></i>
    </button>

    <input type="text" title="search" class="form-control px-4 pr-10 py-3 text-sm w-full"
           placeholder="Search for items..."/>
  </div>

  <div class="py-6">
    <app-dropdown [noneAbsoluteSelect]="true"  triggerElement="click" width="min-w-56" position="left" #category>
      <div class="dropdown-trigger text-primary-gray font-bold text-sm hover:text-primary-green duration-150">
        <div class="cursor-pointer appearance-none pr-4 flex items-center space-x-2">
          <i class="bi bi-grid text-secondary-gray text-2xl font-bold"></i>
          <p class="text-primary-green hover:text-hover-green text-lg font-semibold">Browse Categories
          </p>
        </div>
      </div>

      <div class="dropdown-content">
        <app-custom-select [_options]="['Home 1', 'Home 2', 'Home 3', 'Home 4']"
                           (closeRequest)="category.close()">
        </app-custom-select>
      </div>
    </app-dropdown>
  </div>

  <ul class="w-full flex flex-col space-y-3 justify-around items-start">

    <li class="w-full flex items-center justify-between pb-3 border-b border-b-slate-300">
      <app-dropdown class="w-full" [noneAbsoluteSelect]="true" triggerElement="click" width="min-w-56" position="left" #home>
        <div
          class="dropdown-trigger w-full flex items-center justify-between text-primary-gray font-semibold text-base  hover:text-primary-green duration-150">

          <div class="cursor-pointer appearance-none">
            <p class="truncate">
              {{ 'Home' }}</p>
          </div>

          <div class="pointer-events-none flex items-center">
            <i class="bi bi-chevron-down text-xs duration-200" [class.rotate-180]="home.isOpen()"></i>
          </div>

        </div>

        <div class="dropdown-content">
          <app-custom-select [_options]="['Home 1', 'Home 2', 'Home 3', 'Home 4']"
                             (closeRequest)="home.close()">
          </app-custom-select>
        </div>
      </app-dropdown>
    </li>

    <li class="w-full flex items-center justify-between pb-3 border-b border-b-slate-300">
      <app-dropdown class="w-full" [noneAbsoluteSelect]="true" triggerElement="click" width="min-w-56" position="left" #shop>
        <div
          class="dropdown-trigger w-full flex items-center justify-between text-primary-gray font-semibold text-base  hover:text-primary-green duration-150">

          <div class="cursor-pointer appearance-none">
            <p class="truncate">
              {{ 'Shop' }}</p>
          </div>

          <div class="pointer-events-none flex items-center">
            <i class="bi bi-chevron-down text-xs duration-200" [class.rotate-180]="shop.isOpen()"></i>
          </div>

        </div>

        <div class="dropdown-content">
          <app-custom-select [_options]="['Home 1', 'Home 2', 'Home 3', 'Home 4']"
                             (closeRequest)="shop.close()">
          </app-custom-select>
        </div>
      </app-dropdown>
    </li>

    <li class="w-full flex items-center justify-between pb-3 border-b border-b-slate-300">
      <app-dropdown class="w-full" [noneAbsoluteSelect]="true" triggerElement="click" width="min-w-56" position="left" #mega>
        <div
          class="dropdown-trigger w-full flex items-center justify-between text-primary-gray font-semibold text-base  hover:text-primary-green duration-150">

          <div class="cursor-pointer appearance-none">
            <p class="truncate">
              {{ 'Mega menu' }}</p>
          </div>

          <div class="pointer-events-none flex items-center">
            <i class="bi bi-chevron-down text-xs duration-200" [class.rotate-180]="mega.isOpen()"></i>
          </div>

        </div>

        <div class="dropdown-content">
          <app-custom-select [_options]="['Home 1', 'Home 2', 'Home 3', 'Home 4']"
                             (closeRequest)="mega.close()">
          </app-custom-select>
        </div>
      </app-dropdown>
    </li>

    <li class="w-full flex items-center justify-between pb-3 border-b border-b-slate-300">
      <app-dropdown class="w-full" [noneAbsoluteSelect]="true" triggerElement="click" width="min-w-56" position="left" #blog>
        <div
          class="dropdown-trigger w-full flex items-center justify-between text-primary-gray font-semibold text-base  hover:text-primary-green duration-150">

          <div class="cursor-pointer appearance-none">
            <p class="truncate">
              {{ 'Blog' }}</p>
          </div>

          <div class="pointer-events-none flex items-center">
            <i class="bi bi-chevron-down text-xs duration-200" [class.rotate-180]="blog.isOpen()"></i>
          </div>

        </div>

        <div class="dropdown-content">
          <app-custom-select [_options]="['Home 1', 'Home 2', 'Home 3', 'Home 4']"
                             (closeRequest)="blog.close()">
          </app-custom-select>
        </div>
      </app-dropdown>
    </li>

    <li class="w-full flex items-center justify-between pb-3 border-b border-b-slate-300">
      <app-dropdown class="w-full" [noneAbsoluteSelect]="true" triggerElement="click" width="min-w-56" position="left" #pages>
        <div
          class="dropdown-trigger w-full flex items-center justify-between text-primary-gray font-semibold text-base  hover:text-primary-green duration-150">

          <div class="cursor-pointer appearance-none">
            <p class="truncate">
              {{ 'Pages' }}</p>
          </div>

          <div class="pointer-events-none flex items-center">
            <i class="bi bi-chevron-down text-xs duration-200" [class.rotate-180]="pages.isOpen()"></i>
          </div>

        </div>

        <div class="dropdown-content">
          <app-custom-select [_options]="['Home 1', 'Home 2', 'Home 3', 'Home 4']"
                             (closeRequest)="pages.close()">
          </app-custom-select>
        </div>
      </app-dropdown>
    </li>

    <li class="w-full flex items-center justify-between pb-3 border-b border-b-slate-300">
      <app-dropdown class="w-full" [noneAbsoluteSelect]="true" triggerElement="click" width="min-w-56" position="left" #currency>
        <div
          class="dropdown-trigger w-full flex items-center justify-between text-primary-gray font-semibold text-base  hover:text-primary-green duration-150">

          <div class="cursor-pointer appearance-none">
            <p class="truncate">
              {{ 'Currency' }}</p>
          </div>

          <div class="pointer-events-none flex items-center">
            <i class="bi bi-chevron-down text-xs duration-200" [class.rotate-180]="currency.isOpen()"></i>
          </div>

        </div>

        <div class="dropdown-content">
          <app-custom-select [_options]="['Home 1', 'Home 2', 'Home 3', 'Home 4']"
                             (closeRequest)="currency.close()">
          </app-custom-select>
        </div>
      </app-dropdown>
    </li>

  </ul>

  <div class="my-16 text-base">
    <div class="flex flex-col space-y-4">
      <p class="text-primary-green hover:text-primary-gray cursor-pointer font-extralight">Our Location
      </p>
      <p class="text-primary-green hover:text-primary-gray cursor-pointer font-extralight">
        <a routerLink="/auth">Log In / Sign Up</a>
      </p>
      <p class="text-primary-green hover:text-primary-gray cursor-pointer font-extralight">(+94) - 72 257
        8559</p>
    </div>
  </div>

  <div class="my-16 text-base">
    <div class="flex flex-col space-y-2 text-black opacity-50 text-base font-semibold">
      <p>Follow Us</p>
      <div class="flex space-x-4">
        <i class="bi bi-facebook fa-lg"></i>
        <i class="bi bi-twitter fa-lg"></i>
        <i class="bi bi-instagram fa-lg"></i>
        <i class="bi bi-youtube fa-lg"></i>
      </div>
    </div>
  </div>
</main>
